body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.calculator_container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.calculator_container:hover {
    transform: scale(1.05);
}

label {
    display: block;
    margin-bottom: 15px;
}

input[type="text"],
select {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
